@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: hsl(212, 45%, 89%);
  font-family: "Outfit", sans-serif;
  font-size: 15px;
}

.qr-code-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}

.qr-code-box {
  background-color: hsl(0, 0%, 100%);
  height: 30.5rem;
  width: 20rem;
  padding: 20px 0 0 0;
  border-radius: 15px;
}

.qr-code-text {
  padding: 0 25px;
  margin-top: 15px;
}

.qr-code-heading {
  color: hsl(218, 44%, 22%);
  margin-bottom: 20px;
}

.qr-code-desc {
  font-weight: 400;
  color: hsl(216, 15%, 48%);
}

.img {
  height: 18rem;
  border-radius: 15px;
}

/* Media Queries */
@media (max-width: 600px) {
  .qr-code-box {
    height: 80vh;
    width: 70vw;
  }

  .qr-code-text {
    font-size: 20px;
  }

  .qr-code-heading {
    margin-bottom: 25px;
  }

  .img {
    width: 90%;
    height: 0%;
  }
}

/* Referencing */
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
